@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  font-family: 'Gemunu Libre', sans-serif;
  letter-spacing: 0.3rem;
  overflow: hidden;
  margin: 0;
  background-color:lightgrey;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 100%;
  display: flex;
  padding: 0 10px;
}

.slide{
  height: 80vh;
  border-radius: 30px;
  margin: 5px;
  cursor: pointer;
  color: white;
  flex: 1;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
}

.slide h3{
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.active{
  flex: 10;
}

.active h3{
  opacity: 1;
  transition: 0.3s opasity 0.3s easy-in 0.4s;
}

/* .special h3 {
  color: black;
  text-shadow: 1px 1px 1px #000;
} */